<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda Online</title>
    <link rel="stylesheet" href="../css/bebidasstylo.css">
</head>
<body>
    <!-- Comienza el contenedor principal -->
    <div class="container">
        <!-- Título de la página -->
        <h1>Tienda Online</h1>
        
        <!-- Sección de productos -->
        <div class="products">
            <div class="product">
                <img src="../img/3gaseosas.jpg" alt="Producto 1">
                <p>Producto 1 - $1500</p>
                <p>gaseosas</p>
            </div>
            <div class="product">
                <img src="../img/cocacola.jpg" alt="Producto 2">
                <p>Producto 2 - $3200</p>
                <p>coca-cola</p>
            </div>
            <div class="product">
                <img src="../img/gancia.jpg" alt="Producto 3">
                <p>Producto 3 - $2000</p>
                <p>gancia</p>
            </div>
            <div class="product">
                <img src="../img/vino.jpg" alt="Producto 4">
                <p>Producto 4 - $2500</p>
                <p>vino</p>
            </div>
            <div class="product">
                <img src="../img/sernovabebida.jpg" alt="Producto 5">
                <p>Producto 5 - $3000</p>
                <p>sernova</p>
            </div>
        </div>
        
        <!-- Botón para volver a la página principal -->
        <div class="button-container">
            <a href="../../index.html" class="btn">Volver a la página principal</a>
        </div>
    </div>
    <!-- Termina el contenedor principal -->
</body>
</html>
