<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda Online</title>
    <link rel="stylesheet" href="../css/adicionalesstylo.css">
</head>
<body>
    <!-- Comienza el contenedor principal -->
    <div class="container">
        <!-- Título de la página -->
        <h1>Tienda Online</h1>
        
        <!-- Sección de productos -->
        <div class="products">
            <div class="product">
                <img src="../img/bon bon choc.jpg" alt="Producto 1">
                <p>Producto 1 - $1000</p>
                <p>bombom</p>
            </div>
            <div class="product">
                <img src="../img/club social.jpg" alt="Producto 2">
                <p>Producto 2 - $1200</p>
                <p>club social</p>
            </div>
            <div class="product">
                <img src="../img/gancia.jpg" alt="Producto 3">
                <p>Producto 3 - $2000</p>
                <p>gancia</p>
            </div>
            <div class="product">
                <img src="../img/chetos.jpg" alt="Producto 4">
                <p>Producto 4 - $1000</p>
                <p>chetos</p>
            </div>
            <div class="product">
                <img src="../img/lays.jpg" alt="Producto 5">
                <p>Producto 5 - $1000</p>
                <p>lays</p>
            </div>
        </div>
        
        <!-- Botón para volver a la página principal -->
        <div class="button-container">
            <a href="../../index.html" class="btn">Volver a la página principal</a>
        </div>
    </div>
    <!-- Termina el contenedor principal -->
</body>
</html>
