<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiénes Somos</title>
    <link rel="stylesheet" href="../css/quienessomosstylo.css">
</head>
<body>
    <!-- Comienza el contenedor principal -->
    <div class="container">
        <!-- Título de la página -->
        <h1>Quiénes Somos</h1>
        
        <!-- Imagen de presentación -->
        <div class="image-container">
            <img src="../img/kiosco.jpg" alt="Quiénes Somos">
        </div>
        
        <!-- Texto de presentación -->
        <p>Somos kiosco online nos dedicamos a facilitar las compras de el dia a dia brindado una atencion personalizada queremos que tengas la mejor de las experiencias por esa razon nos innovamos dia a dia.</p>
        
        <!-- Enlace a la página principal -->
        <div class="button-container">
            <a href="../../index.html" class="btn">Volver a la página principal</a>
        </div>
    </div>
    <!-- Termina el contenedor principal -->
</body>
</html>
