/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}

/* Estilos del contenedor principal */
.container {
    width: 100%;
    max-width: 600px;
    text-align: center;
}

/* Estilos de la imagen de presentación */
.image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

/* Estilos del botón */
.button-container {
    margin-top: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #2ae8e4;
    color: #1b1919;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #25c3d5;
}
